@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}

*{
   font-family: 'Courier New'; 
   line-height: 1.5em;
   box-sizing: border-box;
   color: var(--mainTextColor);
   font-size: large;
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size:1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 1.6em;
    line-height: 1em;
    /* font-family: 'homa (sans-serif)';  */
    
}

#bio, a{
    font-weight: 300;
}

#profile-pic {
    max-width:200px;
    max-height:160px;
    border-radius: 50%;
    object-fit: cover;
}
#email{
    color: var(--mainTextColor)
}

#socials--list{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#socials--list a{
    font-size:0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
    font-family: 'Times New Roman (serif)';
    color: gold;

}

#socials--list a:hover{
   color: var(--mainLinkColor);
}

#qualifications--list {
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font: size 0.8em;
}
#wrapper--softskills__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font: size 0.8em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}



.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    border-right: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom:3em;
    padding-left: 2em;
    padding-right: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--personal-summary{
    border-right: 1px solid var(--mainBorderColor);
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 2em;
    margin-bottom:2em;
    padding-right: 2em;
    padding-left: 2em;
}


.education--history{
    margin-top: 1em;
    margin-bottom:2em;
    border-right: 1px solid var(--mainBorderColor);
    border-left: 1px solid var(--mainBorderColor);
    padding-right: 2em;
    padding-left: 2em;

}

#education{
    margin-top:3em
}

@media (max-width:600px) {
    #wrapper--hero {
        flex-direction: column;
        gap:1em
    }

    #profile-pic{
        width: 140px;
        height: 140px;
    }

    .section--page{
        padding-top:1em;
        padding-bottom: 1em;
    }

    #user-name{
        font-size: 1.2em;
        line-height: 1em;
    }

}

